<a href="https://colab.research.google.com/github/lmstewart88/Software-Development-Architecture/blob/main/Copy_of_PythonFundamentalsWeek02_Session03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Lists
countries = ["Kenya", "Ghana", "Nigeria", "South Africa", "Namibia", "Jamaica"]
type(countries)

list

In [ ]:
#Unpacking - You can assign multiple values to a variable. For example-:
p1, p2, p3, p4, p5, p6 = ["Kenya", "Ghana", "Nigeria", "South Africa", "Namibia", "Jamaica"]
print(p1)
print(p2)
print(p3)

Kenya
Ghana
Nigeria

In [ ]:
#length of lists
len(countries)

4

In [ ]:
#Slicing and dicing lists - You can return a range of characters by using the slice syntax. 
#Specify the start index and the end index, separated by a colon, to return a part of the string. general rule: my_list = [start:end:stepsize]
countries[:4] #print all elements until the 4th index

['Kenya', 'Ghana', 'Nigeria', 'South Africa']

In [ ]:
countries[3:] #when the number is placed before the colon, then you are asking the programme to slice the first three elements in the list, and show the 3rd index

['South Africa']

In [ ]:
countries[-4]

'Kenya'

In [ ]:
countries[1:]

['Ghana', 'Nigeria', 'South Africa']

In [ ]:
ages = [12,30,33,29,6,4,65,38]
ages

[12, 30, 33, 29, 6, 4, 65, 38]

In [ ]:
ages[2:7]

[33, 29, 6, 4, 65]

In [ ]:
max(ages)

65

In [ ]:
min(ages)

4

In [ ]:
min(countries)

'Ghana'

In [ ]:
max(countries)

'South Africa'

Tuples - Theses are lists that cannot be changed. They are immutable.

In [ ]:
#You can caste the list to a tuple using the relevant keyword
new_tuple = tuple(countries)
type(new_tuple)

tuple

In [ ]:
#You can also use regular brackets to create tuples 
my_tuple = ("Mercedes", "Tesla", "Lexus", 3, True,"cars" )
my_tuple

('Mercedes', 'Tesla', 'Lexus', 3, True, 'cars')

In [ ]:
#Slicing on strings 
var = "disruptorbootcamp"
var

'disruptorbootcamp'

In [ ]:
#For example, to slice the word 'disruptbootcamp', you can do the following-
var[:9]

'disruptor'

In [ ]:
#To print the bootcamp section, do the following-:
var[9:]

'bootcamp'

Negative index - counting from the last item in the list backwards. From the left you count from 0 index, from the right, you strat from -1/-2

In [ ]:
#Create a program that takes in two numbers and then outputs the average of the two numbers (use list unpacking)
numbers = [5, 6]
number_1, number_2 = numbers
print(number_1 + number_2/2)

8.0

In [ ]:
number_1, number_2 = [6,8]
avg = number_1 + number_2/2 #average
print(avg)

10.0

Task 4:
Modify the list so that only the last three elements print

In [ ]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
                 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
                 'July 11, 2010', 'November 13, 2012', 'March 20, 2015',
                 'March 9, 2016']
eclipse_dates[-3:] #negative indexing

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

In [ ]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
                 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
                 'July 11, 2010', 'November 13, 2012', 'March 20, 2015',
                 'March 9, 2016']
eclipse_dates[7:] #0 indexing

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

Task 2: days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]
month of the calendar year
(b) Calculate the number of days in each quarter(slicing)
(c)Use functions to make our code more reusable
use list indexing to determine the number of days in month

In [ ]:
days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]
quarter_1 = days_in_month[0:3]
quarter_2 = days_in_month[3:6]
quarter_3 = days_in_month[6:9]
quarter_4 = days_in_month[9:]
print(quarter_4)

[31, 30, 31]

In [ ]:
#use functions to make the code more reusable - use list indexing to determine the number of days in a month
number_of_days_in_quarter = sum(quarter_1)
number_of_days_in_quarter = sum(quarter_2)
number_of_days_in_quarter = sum(quarter_3)
number_of_days_in_quarter = sum(quarter_4)

print(sum(quarter_1))

90

In [ ]:
#Sets - a collection of arrays that are unordered, unchangeable and unindexed - these data types are already sorted
days_per_month = {31,28,31,30,31,30,31,31,30,31,30,31}
days_per_month #removes all the duplicates

{28, 30, 31}

In [ ]:
days_per_month = set({31,28,31,30,31,30,31,31,30,31,30,31, "Kenya", "Nigeria"}) #another way to create a set using parsing and the kewyword set
days_per_month

{28, 30, 31, 'Kenya', 'Nigeria'}

In [ ]:
#Can also use casting to create a set
days = set(countries)
days

{'Ghana', 'Kenya', 'Nigeria', 'South Africa'}

In [ ]:
#length of set 
len(days)

4

In [ ]:
#adding to a set
days.add("Iceland")
days

{'Ghana', 'Iceland', 'Kenya', 'Nigeria', 'South Africa'}

In [ ]:
#joins two sets together
days.union(days_per_month)

{28, 30, 31, 'Ghana', 'Iceland', 'Kenya', 'Nigeria', 'South Africa'}

In [ ]:
#intersection - checks if there is any value that appears in the two sets created - the parameter 
days.intersection_update(days_per_month)
days_per_month

{28, 30, 31, 'Kenya', 'Nigeria'}

In [ ]:
#pop
days_per_month.pop()

'Nigeria'

In [ ]:
#clear - clears your tuple

In [ ]:
#delete
del days_per_month