<a href="https://colab.research.google.com/github/lmstewart88/Software-Development-Architecture/blob/main/PythonBootcampDay01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Bootcamp Day 01: 

Fundamentals of Python

In [ ]:
#creating a variable called name
name = "Lydia"

In [ ]:
#a variable that highlights my interest:
interests = "I am interested in developing infrastructure and applications that empower and change the way people and places function"

In [ ]:
Type("London")

In [6]:
#String value
print("London")

London

In [ ]:
Type(3)

In [7]:
#interger
print(3)

3

In [ ]:
#string as a number
Type("3")

In [9]:
print("3")

3

In [ ]:
#Boolean value
Type(True)

In [10]:
print(True)

True

In [ ]:
x = 7*3/2

In [14]:
7//2

3

In [15]:
7 + 2/3** 2 - 5

2.2222222222222223

In [21]:
"python"+ 3

TypeError: ignored

You can not concatenate (add) string to an interger. But if you wrap the integer in quotation marks

In [19]:
"python" *3

'pythonpythonpython'

In [20]:
3* "python" *3

'pythonpythonpythonpythonpythonpythonpythonpythonpython'

Shows that the order in which the operator is placed does not change the output.

In [23]:
"i love" *3 + "python"

'i lovei lovei lovepython'

In [24]:
("I love python") *3

'I love pythonI love pythonI love python'

Taken into consideration BIDMAS (Taken everything in brackets and multiplied it)

In [ ]:
my variable = "I love Python"

In [26]:
print("I love Python")

I love Python

In [ ]:
MyVariable = "I hate Python"

In [ ]:
print(MyVariable)

In [28]:
#Using print function to get output
print('The value of 3+4 is', 3+4)

The value of 3+4 is 7

In [ ]:
print('A' 1,'XYZ',2)

In [ ]:
#ask user for name 
greeting = input("Enter your name")