<a href="https://colab.research.google.com/github/lmstewart88/Software-Development-Architecture/blob/main/PythonFundamentalsSession02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#identation in Python - One of the major syntax in Python; usually 4 spaces indented
if 5 > 2:
  print("five is greater than 2")

five is greater than 2

In [ ]:
 myvar = 4
    my_var = "Hello"
    _my_var = True

In [ ]:
#Camelcase
disruptorBootCamp = "Hello Welcome"
disruptorBootCamp

In [ ]:
#snakecase - commonly used in Python
disrupt_bootcamp ="Welcome"

In [ ]:
#Pascal case
DisruptorBootCamp = "Hi Welcome" #new comment
DisruptorBootCamp

#Multiline comments can be written like below:
' ' '
Hello, first line
second
third
fourth
'''

In [ ]:
#casting - enables you to change the type of variable. for example, from a a string to an integer
var = "5"
type(var)

In [ ]:
var = int(var)
type(var)

int

In [ ]:
height = int(150.0) #An example of how casting can be used to change from float to an integer

In [ ]:
#Local and global scoping - How you access a variable that you have called. You have to declare it globally rather than locally. For example:
name = "David" #Global scoping 
def print_name:
  name = "David" #local scoping when it is declared within the function, so cannot be called anywhere
  print(f"Hello my name is {name}")

In [ ]:
num = 54
num % 12 #Modulus

6

In [ ]:
num = 3
num ** 4

81

In [ ]:
#comparison operators
num == 12

False

#Comparison operators used to compare two numbers, two strings or two variables - When creating a programme that uses conditions, you use comparison operators

In [ ]:
num != 15

True

In [ ]:
num > 5

False

In [ ]:
num < 6

True

In [ ]:
num <= 17

True

Logical Operators - Checks boundaries between comparison operators. For example: 'And' 'Or' operators

In [ ]:
age1 = 25
age2 = 30

age1 > 20 and age2 <35 #if the left hand side is tru and the right hand side is true, it will be a True output

True

In [ ]:
age1 > 20 or age2 > 35 #It only asks for one of the sides to be true

True

In [ ]:
not(age1 > 20 or age2 > 35) #

#membership operators - evaluates to True or False if a particular value is within a list. For example, is there a specific name within that list.

In [ ]:
names = ["David", "Oluchi", "Ben", "Yomi"]
names

['David', 'Oluchi', 'Ben', 'Yomi']

In [ ]:
"David" in names

True

Write a programme that asks the user to enter a number. Store that number, add 2 to that variable, store the result in the same variable, then print out the value.

In [ ]:
number = int(input("Enter a number: "))
number = number + 2
print(number)

Task 5: Ask the user for

In [ ]:
number_1 = input("enter a number please ")
number_2 = input("enter a number please ")
number_3 = input("Enter a number please ")
number_4 = input("Enter a number please ")
number_5 = input("Enter a number please ")
print(f"{number_1}, {number_2}, {number_3}, {number_4}, {number_5}" sep = )

enter a number please 5
enter a number please 10
Enter a number please 15
Enter a number please 20
Enter a number please 25

Task 6: Ask the user for their name and age. Print out the users age in dog years

In [ ]:
name = input("what is your name?")
age = int(input ("How old are you?"))
dog_years = (age)/15
dog_years = str(dog_years)

print(f"Hello {name}, you are {dog_years} years old, in dog years")

Task 7:
Write a program to calculate the area of a football field and its parameter

In [ ]:
# Python Program to find the area of a football and its parameter

length = float(input('Please Enter the Length: '))
width = float(input('Please Enter the Width: '))
area = (length) * (width)

# calculate the parameter
perimeter = 2 * (length + width)

print(f"area of a football using", length, "and", width, " = ", parameter)

Python Lists: Python lists are one of the most important data types. Unlike strings you can store multiple types. The basic operators that can be perfomed on Python lists (also known as an array) are as follows;

append - adds to the list;
copy - ;
index;
insert;
pop;
remove;
reverse;
sort.

In [ ]:
#append - adds to the list, but only one value at a time
names = ["Chris", "Shaun", "Millicent", "Dorine"]
names

['Chris', 'Shaun', 'Millicent', 'Dorine']

In [ ]:
updated_list = names.append("Chioma")
print(names)

['Chris', 'Shaun', 'Millicent', 'Dorine', 'Chioma']

In [ ]:
#copy - copies the list - creates a copy and saves it into a new variable, so that you do not modify the original code
new_names = names.copy()

In [ ]:
#index - outputs the value of the index (element) that you are looking for.
names.index("Millicent")

2

In [ ]:
#insert - takes in the index and what you want to add, allowing you to specify where we want to place the additional value.
names.insert(2, "Lydia")
print(names)

['Chris', 'Shaun', 'Lydia', 'Millicent', 'Dorine', 'Chioma']

In [ ]:
#pop - renews the value of a particular item in your list
names.pop(2) 

number2 = names.pop(2) #you can save this value and put it in a new variable
number2

'Millicent'

In [ ]:
#Remove: removes a particular value in the list
names.remove('Lydia')

In [ ]:
names

['Chris', 'Shaun', 'Dorine', 'Chioma']

In [ ]:
#reverse - for the current order - it reverses the list; from the last to the first
names.reverse()
names

['Chioma', 'Dorine', 'Shaun', 'Chris']

In [ ]:
#sort - sorts the list in alphabetical order
names

['Chioma', 'Dorine', 'Shaun', 'Chris']

In [ ]:
names.sort()
names

['Chioma', 'Chris', 'Dorine', 'Shaun']

In [ ]:
#extend - adds to the list and enables you to add multiple values
names

['Chioma', 'Chris', 'Dorine', 'Shaun']

In [ ]:
new_list = ['April', 'Tierney', 'Chenai']
names.extend(new_list)

In [ ]:
#count - counts the number of times a particular item appears in a list